@import '../../utils/scss-variables.scss';

.main {
  width: 900px;
  &__findCharacters {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  &__seeCharacters {
    display: flex;
    justify-content: center;
  }
}