@import '../../../utils/scss-variables.scss';

.character {
  width: 280px;
  list-style: none;
  background-color: $main-item-background;
  border-radius: 10px;
  margin: 10px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
   
  &__img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__characteristicsList {
    padding: 5px 20px 15px;
  }

  &__listItem {
    list-style: none;
    color: $main-light-grey;
  }

  &__listItemTitle {
    color: $main-dark-grey;
    margin-right: 10px;
  }
}