// By color name
$main-dark-grey: #808080;
$main-grey: #9b9b9b;
$main-light-grey: #E4E5ED;
$main-blue: #11B1C8;
$main-yellow: #CEE26F;


// By purpose
$main-app-background: #22222A;
$main-item-background: #31313B;
$main-cancel-color: #dd3131;
$main-popup-screen-background: rgba(0,0,0,0.5);