@import '../../../utils/scss-variables.scss';

.filterGroup {
  width: 45%;
  padding: 15px 15px 25px 15px;
  border: 2px solid $main-grey;
  border-radius: 10px;
  transition: 0.2s;

  &__title {
    color: $main-grey;
  }

  &:hover {
    border-color: $main-blue;
  }
}