@import '../src/utils/scss-variables.scss';

.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: $main-app-background;
}

img {
  max-width: 100%;
}